.nav-ul {
  margin: 0;
  padding: 5px;
  background-color: black;
}
.nav-ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;
}
.nav-ul li {
  display: inline-block;
  padding: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  background: black;
  color: white;
  width: 100%;
  text-align: center;
}
.inputBox {
  display: block;
  margin: 27px;
  border: 1px solid black;
  width: 300px;
  padding: 7px;
}
.register,.Addproduct {
  margin-left: 30%;
}
.login{
  margin-left: 30%;
}
.appButton {
  margin: 12px 27px;
  padding: 7px;
  width: 315px;
  color: white;
  background: blue;
  border: 2px solid black;
}
.nav-right{
  text-align: right;
}
.invalid-product{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 30px;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  width: 120px;
}
.product-list ul{
  margin: 0;
}
.logo{
  float: left;
  width: 45px;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 8px
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
